body{
    color:#000;
    text-align:left;
    font:400 18px Inter,sans-serif;
    position:relative
}

.index,.index *{
  box-sizing:border-box
}
.index{
  background:#fff;
  padding:0 0 63px 0;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:100%;
  position:relative;
  overflow:hidden
}

.nav-nav-header{
  padding:34px 32px 34px 32px;
  display:flex;
  flex-direction:row;
  gap:0;
  align-items:center;
  justify-content:center;
  flex-shrink:0;
  width:100%;
  position:relative
}
.title{
  display:flex;
  flex-direction:column;
  gap:10px;
  align-items:center;
  justify-content:flex-start;
  flex:1;
  position:relative
}
h1{
  color:#000;
  text-align:center;
  font:400 36px Inter,sans-serif;
  position:relative;
  align-self:stretch;
  height:34px
}

button{
  font:400 18px Inter,sans-serif;
  background:#7198ff;
  border-radius:7px!important;
  padding:8px 45px 8px 45px;
  display:flex;
  flex-direction:row;
  gap:10px;
  align-items:center;
  justify-content:center;
  flex-shrink:0;
  position:relative;
  border:none;
  margin: auto;
}
.selected{
  outline: #ff8419 solid 5px!important;
}

a{
  text-decoration:none!important;
  color:blue;
}

li p {
  font-weight: normal;
  margin: 5px;
}

button:disabled{
  background:#c5d5ff
}
.training{
  margin:-1px 0 0 0;
  background:linear-gradient(180deg,rgba(207,220,255,1) 0,rgba(208,221,255,.53) 81.25%,rgba(255,255,255,0) 100%);
  padding:0 0 80px 0;
  display:flex;
  flex-direction:column;
  gap:55px;
  align-items:center;
  justify-content:flex-start;
  flex-shrink:0;
  position:relative
}

.heading-5{
  flex-shrink:0;
  width:1500px;
  height:34px;
  position:relative
}
.heading-1{
  color:#000;
  text-align:center;
  font:400 36px Inter,sans-serif;
  position:absolute;
  left:0;
  top:0;
  width:1500px;
  height:34px
}
.input-training{
  display:flex;
  flex-direction:column;
  gap:5px;
  flex-shrink:0;
  position:relative
}
.title3{
  display:flex;
  flex-direction:row;
  gap:10px;
  align-items:center;
  justify-content:center;
  align-self:stretch;
  flex-shrink:0;
  position:relative
}
.heading-2{
  color:#000;
  text-align:left;
  font:400 24px Inter,sans-serif;
  position:relative;
  flex:1
}
.training-inner{
  display:flex;
  flex-direction:row;
  gap:30px;
}
.input-input-item{
  display:flex;
  flex-direction:row;
  gap:29px;
  align-items:center;
  flex-shrink:0;
  position:relative
}
#testPlot{
  height:500px;
  margin: 10px;
}
#info-box{
  max-width: 700px;
  transition: all 0.5s ease;
  margin-left: 15px;
}
.flex{
  display:flex;
  gap: 10px;
}
.input-slider p{
  margin:auto
}
.input-label{
  display:flex;
  flex-direction:row;
  gap:10px;
  align-items:center;
  justify-content:flex-start;
  flex-shrink:0;
  width:177px;
  position:relative
}
.input-slider{
  flex-shrink:0;
  width:206px;
  height:21px;
  position:relative;
  display:flex;
  gap:10px
}
.diagram{
  flex-shrink:0;
  width:700px;
  position:relative
}
.heading-4{
  display:flex;
  flex-direction:row;
  gap:10px;
  align-items:center;
  justify-content:center;
  flex-shrink:0;
  width:611px;
  position:relative
}
.frame-4{
  display:flex;
  flex-direction:column;
  gap:15px;
  align-items:baseline;
  justify-content:flex-start;
  flex-shrink:0;
  position:relative
}
.input-dropdown{
  border-radius:25px;
  display:flex;
  flex-direction:column;
  gap:10px;
  align-items:flex-start;
  justify-content:flex-start;
  flex-shrink:0;
  position:relative
}
select{
  background:#acc3ff;
  border-radius:5px;
  flex-shrink:0;
  width:206px;
  height:24px;
  position:relative
}
.fitting-slider{
  display:flex;
  flex-direction:column;
  gap:23px;
  align-items:center;
  justify-content:flex-start;
  flex-shrink:0;
  position:relative
}
.fitting-slider2{
  background:linear-gradient(90deg,rgba(243,94,94,1) 0,rgba(148,220,151,1) 50.20874738693237%,rgba(35,55,239,1) 100%);
  flex-shrink:0;
  width:598px;
  height:18px;
  position:relative
}
.test{
  margin:-1px 0 0 0;
  display:flex;
  flex-direction:column;
  gap:47px;
  align-items:center;
  justify-content:flex-start;
  flex-shrink:0;
  width:100%;
  position:relative
}
.sektion-titel{
  padding:10px;
  display:flex;
  flex-direction:column;
  gap:10px;
  align-items:flex-start;
  justify-content:flex-start;
  flex-shrink:0;
  position:relative
}
.heading-6{
  flex-shrink:0;
  width:100%;
  height:34px;
  position:relative
}
.heading-12{
  color:#000;
  text-align:center;
  font:400 36px Inter,sans-serif;
  left:0;
  top:0;
  width:100%;
  height:34px
}
.frame-7{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  flex-shrink:0;
  width:818px;
  position:relative
}
.text-heading-2{
  display:flex;
  flex-direction:row;
  gap:10px;
  align-items:center;
  justify-content:center;
  flex:1;
  position:relative
}
h2{
  color:#000;
  text-align:left;
  font:bold 24px Inter,sans-serif;
  position:relative
}
.text-heading-22{
  display:flex;
  flex-direction:row;
  gap:10px;
  align-items:center;
  justify-content:center;
  flex-shrink:0;
  position:relative
}
#model-buttons{
  display:flex;
  flex-direction:row;
  gap:34px;
  align-items:flex-start;
  justify-content:flex-start;
  flex-shrink:0;
  width:837px;
  position:relative
}
.info{
  display:none;
}

@media (max-width: 768px) {
  textarea {
    font-size: 50px;
    line-height: 60px;
  }

  #slider-value {
    font-size: 15px;
  }
  .content{
    max-width: 90vw;
  }
}

@media (min-width: 1441px) {
  .content{
    max-width: 60vw;
  }
}

@media (min-width: 1921px) {
  .content{
    max-width: 40vw;
  }
}

@media (max-width: 500px) {
  .content{
    max-width: 100%;
  }
}